<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <nav style="text-align: center;">
        <a href="/">Home Page</a>
        <a href="/contato">Contato</a>
        <a href="/produtos">Produtos</a>
    </nav>
    
    {% block content %}{% endblock %}

    <br><br>
    <hr style="margin: auto">

    <footer>
        <p style="text-align: center;">Desenvolvido por Brenda</p>
    </footer>

    <nav style="text-align: center;">
        <a href="/termosdeuso">Termos de Uso </a>
        <a href="/politicadeprivacidade">Politica de privacidade</a>
        <a href="/privacidade">Privacidade</a>
    </nav>
 
</body>
</html>