{% extends 'base.html'%}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1 style="text-align: center;">Home Page</h1>

<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fcanaldoconsultor.com.br%2Fcomo-a-tecnologia-esta-revolucionando-as-compras-online%2F&psig=AOvVaw1lHnwOKVMjT9pIh22mdZNa&ust=1718992399541000&source=images&cd=vfe&opi=89978449&ved=0CA8QjRxqFwoTCNCG9-3f6oYDFQAAAAAdAAAAABAE"/>
<h2 style="text-align: center;"> Descubra a Arte dos Esmaltes: Seja Única, Todos os Dias! </h2>
<p style="text-align: center;">
    Bem-vindo ao nosso universo de cores e criatividade, onde cada unha conta uma história e cada cor reflete uma personalidade. Aqui, no [Nome do Site], celebramos a beleza única de cada mulher, oferecendo uma ampla gama de esmaltes que vão desde os clássicos elegantes até as tendências mais ousadas.
    
    Nosso compromisso vai além de apenas fornecer produtos de alta qualidade; é sobre inspirar sua expressão pessoal. Imagine-se transformando suas unhas em obras de arte vibrantes, prontas para qualquer ocasião. Com fórmulas de longa duração e cores que impressionam, nossos esmaltes são projetados para acompanhar seu estilo de vida dinâmico.
    
    Explore nossa coleção e deixe sua criatividade florescer. Desde tons suaves que capturam a delicadeza até tons intensos que gritam ousadia, há um esmalte perfeito para cada momento da sua vida. Faça da sua rotina de beleza um momento de autodescoberta e confiança.
    
    Junte-se a nós nesta jornada de beleza e autoexpressão. [Nome do Site] é mais do que uma loja de esmaltes; é o seu destino para descobrir e redefinir a arte de cuidar das suas unhas. Embeleze-se, celebre quem você é e deixe suas mãos serem a tela que conta sua história todos os dias.
    
    Seja bem-vinda à nossa comunidade apaixonada por esmaltes.
    
    [Insira aqui uma chamada para ação convidando os visitantes a explorar a loja ou inscrever-se para ofertas exclusivas.]
</p>
{% endblock %}