{% extends 'base2.html'%}

{% block title %}Privacidade{% endblock %}

{% block content %}
<h1 style="text-align: center;">Privacidade</h1>
<p style="text-align: center;">
     A (nome empresarial simplificado) prevê a responsabilidade dos agentes que atuam nos processos de tratamento de dados, em conformidade com os artigos 42 ao 45 da Lei Geral de Proteção de Dados.

    Nos comprometemos em manter esta Política de Privacidade atualizada, observando suas disposições e zelando por seu cumprimento.
    
    Além disso, também assumimos o compromisso de buscar condições técnicas e organizativas seguramente aptas a proteger todo o processo de tratamento de dados.
    
    Caso a Autoridade Nacional de Proteção de Dados exija a adoção de providências em relação ao tratamento de dados realizado pela (nome empresarial simplificado), comprometemo-nos a segui-las. 
</p>
{% endblock %}