{% extends 'base.html'%}

{% block title %}Produtos{% endblock %}

{% block content %}
<h1 style="text-align: center;">Produtos</h1>

    {% if produtos %}
        <p style="text-align: center;"> Nossos produtos</p>
    {% for produto in produtos %}
        <img style=" height: 200px; width: 200px;" src="{{produto.url}}">
        <h2 style="text-align: center;">{{produto.nome}}</h2>
        <p style="text-align: center;">{{produto.descricao}}</p>
    {% endfor %}
    {% else %}
        <p style="text-align: center;">Nao existem produtos</p>
    {% endif %}
{% endblock %}